:root {
    --h1-size:120px;
    --h1-weight:900;
    --h1-height:120px;
    --h1-p-size:90px;
    --h1-p-weight:400;
    --h1-p-height:90px;

    --title-size:18px;
    --title-num-size:20px;
    --title-desc-size:12px;

    --title-num-weight:700;
    

    --hero-color:#FDFCFA;
}
@font-face {
    font-family: 'anjoman';
    src:url(./Anjoman-Regular.ttf)
}
* {
    box-sizing: border-box;
}
img {
    display: block;
}
.row {
    display: flex;
}
body {
    font-family: anjoman;
    width: 1440px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.container {
    /* width: 100%; */
}
#hero {
    color: var(--hero-color);
    background: url(../images/bg\ \(1\).png);
    padding-right:120px ;
    padding-bottom: 352px;
    padding-top: 128px;
    background-repeat: no-repeat;
    border: 5px solid red;
    position: relative;
    overflow: hidden;
}
h1 {
    margin-bottom: 0;
    font-size: var(--h1-size);
    font-weight:var(--h1-weight) ;
    line-height: var(--h1-height);
}
#hero p {
    margin-top: 18px;
    margin-bottom: 0;
    font-size:var(--h1-p-size) ;
    font-weight: var(--h1-p-weight);
    line-height: var(--h1-p-height);

}
#hero img {
    position: absolute;
    bottom: 0;
    left: 0;
}

#modern {
    padding-top: 120px;
    padding-right: 120px;
}
#modern .milad {
    width: 400px;
    height: 500px;
    background: url(../images/bb873db48beaa7c40d174e76b3c82c4739b2a1a9.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color:var(--hero-color) ;
    padding-top:351px ;
    padding-right: 40px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
#modern .milad p {
    font-family: vazirmatn;
    width: 250px;
    margin: 0;
}
#modern .milad .title {
    font-size:var(--title-size) ;
    opacity: 80%;
}
#modern .milad .title .num {
    font-size:var(--title-num-size) ;
    font-weight: var(--title-num-weight);
    opacity: 100%;
}
#modern .milad .desc {
    font-size: var(--title-desc-size);
    opacity: 60%;
}
